################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Andgasm.Web.CUIT.Core/bin
/Andgasm.Web.CUIT.Core/Andgasm.Web.CUIT.Core.0.0.3.nuspec
/Andgasm.Web.CUIT.Core/obj/Debug
/Andgasm.Web.CUIT.Core/obj/Release
